<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test">
<!--   <test thread-count="5" name=" LoginTest">
    <classes>
       		 	<class name="com.LearnFramework.Login.LoginPageTest"/>
       		    </classes>
    </test> -->
    <test name="Add To Cart">
     <classes>
       		 	<class name="com.LearnFramework.ProductCategoryVerify.VerifyProductAddTOCART"/>
    </classes>
    </test>
</suite> <!-- Suite -->
